<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul class="menu-main">
    <li><a href="/view" id="Clcl">Обзор</a></li>
    <li><a href="/Product">Продукты</a></li>
    <li><a class="current" href="/Invest">Инвесторам</a></li>
</ul>
<ul class="menu-main">
    <li><a href="/view">Вернуться на главную</a></li>
    <li><a href="/Invest" id="Clcl">Microsoft</a></li>
    <li><a class="current" href="/Apple">Apple</a></li>
    <li><a href="/Qualcomm">Qualcomm</a></li>
    <li><a href="/Adobe">Adobe</a></li>
</ul>

<div class="company">
    <div class="image"><img width="500" src="../public/image/apple.jpg" alt=""></div>
    <div class="investinf">
        <h1 style="font-size: 28px;"><%= ComName %> $<%= Price%></h1><br><br>
        <h2>Дивиденды</h2>
        <em>Выводим дату закрытия реестра акционеров. Чтобы успеть получить дивиденды по акции, необходимо успеть купить её не менее чем за 2 торговых дня до указанной даты
            Для будущих выплат рассчитываем доходность дивидендов по отношению к текущей цене акции — цене закрытия предыдущего торгового дня </em>
        <br>20 мая 2021
        0,56$
        0,221%<br>
        18 февраля 2021
        0,56$
        0,23%<br>
        19 ноября 2020
        0,56$
        0,264%
    </div>
</div>
<p style="font-size: 22px;"><%= Text %></p>
<div class="news">
    <br><br>
    <h1>Индекс S&P 500 обновил максимум на фоне роста акций IT-компаний</h1><br><br>
    <img style="text-align: center;" width="700" src="../public/image/85ec01905a74af93936e62cdfcd33769.jpg" alt=""><br><br>

    («Рейтер»). Индекс S&P 500 достиг максимума в четверг, в то время как NASDAQ держался у пика семи недель, чему способствовал рост акций технологических компаний на следующий день после того, как Федеральная резервная система подтвердила обещание придерживаться ультрамягкой политики до более стабильного восстановления экономики.

    Бумаги Apple, Microsoft, Alphabet и Amazon росли в диапазоне от 1% до 1,5% и возглавили рост в индексе S&P 500.

    Акции высокотехнологических компаний восстановились в ходе последних сессий, поскольку доходность 10-летних казначейских облигаций отступила от максимумов 14 месяцев, подтолкнув индекс NASDAQ. От рекордного уровня закрытия его теперь отделяет 2%.

    Вышедшая в четверг статистика указала на неожиданный рост числа пособий по безработице в США на прошлой неделе, но при этом, скорее всего, не учитывались быстро улучшающиеся условия на рынке труда.

    К 18.44 МСК индекс Dow Jones снизился на 0,09%, до 33 415,59 пункта, индекс S&P 500 поднялся на 0,28%, до 4091,3 пункта, а NASDAQ вырос на 0,86%, до 13 806,99 пункта.

    (Шивани Кумаресан и Медха Сингх в Бангалоре. Перевела Анна Бахтина. Редактор Дмитрий Антонов)

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <h1>Microsoft поставит армии США гарнитуры дополненной реальности на $22 млрд
        Разработанная корпорацией гарнитура основана на очках HoloLens, которые создают голограммы в поле зрения пользователя. Контракт рассчитан на десять лет. За это время Microsoft поставит армии 120 тыс. гарнитур</h1><br><br>
    <img style="align-content: center;" width="700" src="../public/image/voen.jpg" alt=""><br><br>

    Корпорация Microsoft выиграла контракт на создание гарнитур дополненной реальности IVAS для армии США. В течение десяти лет компания поставит более 120 тыс. устройств, а стоимость всего контракта может достичь $21,88 млрд, сообщил телеканал CNBC со ссылкой на представителя Microsoft.

    Акции компании на этой новости подорожали на 2% за час до окончания торгов 31 марта, до $239,07, но затем немного скорректировались  и завершили день на уровне $235,77 за бумагу.

    Устройства будут основаны на гарнитуре Microsoft HoloLens, представленной в 2016 году, написала компания в своем блоге в среду. Корпорация начала сотрудничать с армией в 2018 году. Тогда она получила контракт на $480 млн для создания прототипа IVAS, который солдаты тестировали в течение двух лет.


    IVAS представляет собой «проекционный дисплей» для сухопутных войск США, аналогичный тем, которые используют летчики-истребители. Система позволяет командирам проецировать информацию на козырек перед лицом солдата и включать другие функции, такие как ночное видение, пояснил Bloomberg.

    «Система также использует дополненную реальность и машинное обучение для создания реалистичной среды обучения смешанной реальности, чтобы силы ближнего боя (CCF) могли тренироваться, прежде чем вступать в бой с противниками», — говорится в заявлении армии США. Гарнитуры будут работать на программном обеспечении Microsoft и поддерживаться службой облачных вычислений Microsoft Azure.

    Дополненная реальность (AR) накладывает цифровой контент на реальный мир. Гарнитуры с дополненной реальностью набирают популярность в качестве ресурса для работников в таких отраслях, как розничная торговля, здравоохранение и автомобилестроение, особенно с начала пандемии. Microsoft конкурирует в этой сфере с несколькими десятками компаний, включая Alphabet и Magic Leap.
</div>
</body>
</html>