<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul class="menu-main">
    <li><a id="Clcl" class="current">Обзор</a></li>
    <li><a href="/Product">Продукты</a></li>
    <li><a href="/Invest">Инвесторам</a></li>
</ul>
<div class="company">
    <div class="image"><img width="700" src="public/image/Microsoft-tecnologia.jpg" alt=""></div>
    <div class="info">
    </div>
</div>
<div class="obzor">
    <H2 style="text-align: center;">Продукция</H2>
    <img src="public/image/H2-TQKDY.jpg" width="64" height="64" alt="">
    Программное обеспечение производства Microsoft
    Корпорация Microsoft является производителем широкого спектра программного и аппаратного обеспечения, известность во всём мире ей принесли в первую очередь операционные системы семейства Windows, а также программы для работы с документами семейства Microsoft Office. Сегодня корпорация производит множество продуктов: комплекты серверных программ, игры, средства разработки программ, а также игровые консоли Xbox.

    Microsoft регулярно производит поглощение других разработчиков ПО. В частности, в результате приобретения компаний Navision, Solomonruen, Great Plainsruen в ассортименте Microsoft появилось новое крупное направление Microsoft Dynamics (ранее называлось Microsoft Business Solutions). В России представлены три решения этого направления: ERP-системы Axapta, Navision и система управления отношениями — Microsoft Dynamics CRM.

    Microsoft анонсировали музыкальный сервис Groove. Он заменит существующий сервис Xbox Music и будет обладать схожими возможностями: скачивание песен и альбомов из Windows Store, потоковое вещание треков, в том числе загруженных в OneDrive и радио с автоподбором композиций на основе выбранных треков, альбомов или исполнителей.

    В апреле 2021 года стало известно, что Microsoft получила от Министерства обороны США контракт на поставку носимых устройств дополненной реальности для армии. Сумма контракта составляет $21,9 млрд. В течение десяти лет Microsoft должна поставить американской армии 120 тыс. устройств, созданных на базе ее очков дополненной реальности HoloLens.
</div>
</body>
</html>