# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fdkir\OneDrive\Рабочий стол\4 Семестр\Базовые компоненты интернет технологий\Лабораторная работа 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
